<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Online Login Form Responsive Widget Template :: w3layouts</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Online Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<!-- css files -->
<link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="all" /> <!-- Style-CSS --> 
<link rel="stylesheet" href="/assets/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
<link href="/assets/css/style1.css" rel="stylesheet" />
<!-- //css files -->
<!-- online-fonts -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">
<!-- //online-fonts -->
</head>
<body>
<!-- main -->
<div class="center-container">
	<!--header-->
	<section class="top">
		<div class="conteiner">
			<div class="row justify-content">
				<a href="/home/index">
					<div class="logo"><img src="/assets/images/a.png"></div>
				</a>
				<div class="menu-bar">
				<h2><a th:if="${#request.isUserInRole('LAW') or #request.isUserInRole('ADMIN')}">
						<a th:href="@{/admin/home/index}">Admin</a></h2>
						<br>
					<a th:href="@{/home/index}" >
					<h2 th:text="#{nav.home}"></h2>
					</a>
					<a th:href="@{/accounts/khainiem}">
						<h2 th:text="#{nav.kn}"></h2>
					</a>
					<a th:href="@{/accounts/loginForm}">
						<h2 th:text="#{nav.dn}"></h2>
					</a>
					<a th:href="@{/accounts/doimk}">
						<h2 th:text="#{nav.dmk}">Đổi Mật Khẩu</h2>
					</a>
					<div class="bao">
						<h4><a href="?lang=vi">Vietnamese||</a>
						<a href="?lang=en">English</a></h4>
						
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="header-w3l">
		<h1></h1>
	</div>
	<!--//header-->
	<div class="main-content-agile">
		<div class="sub-main-w3">	
			<div class="wthree-pro">
				<h2>Login</h2>
				<div class="dangnhap">
				<i class="pull-left text-danger" th:text="${message}"></i>
				</div>
			</div>
			<form th:action="@{/security/login}" method="post">
				<div class="pom-agile">
					<input placeholder="E-mail" name="username" class="user" type="email" required="">
					<span class="icon1"><i class="fa fa-user" aria-hidden="true"></i></span>
				</div>
				<div class="pom-agile">
					<input  placeholder="Password" name="password" class="pass" type="password" required="">
					<span class="icon2"><i class="fa fa-unlock" aria-hidden="true"></i></span>
				</div>
				<div class="sub-w3l">
					<h6><a th:href="@{/accounts/quenmk}">Forgot Password?</a></h6>
					<div class="right-w3l">
						<input type="submit" value="Login">
						<br>
						<br>
						
					</div>
				</div>
			</form>
			<div class="tu">
			<a href="/accounts/dangky"><input  type="submit" value="SignUp"></a>
			</div>
		</div>
	</div>
	<!--//main-->
	<!--footer-->
	<div class="footer">
		<p>&copy; 2017 Online Login Form. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
	</div>
	<!--//footer-->
</div>
</body>
</html>